# dist
/dist/

# npm
/node_modules/

# report
/coverage-ts/
/tsc-check/
/coverage/

# example

# /* eslint consistent-this: ["error", "unit", "aggressor"] */

# /* eslint-disable no-unused-vars */
# var React = require('react');
# /* eslint-enable no-unused-vars */

# // eslint-disable-next-line no-unused-vars
# var React = require('react');

# var React = require('react'); // eslint-disable-line no-unused-vars
