# IDE
/.idea/
/.vscode/

# Logs
logs
*.log
npm-debug.log*

# npm
/node_modules/

# report
/coverage-ts/
/tsc-check/
/coverage/

# test data
/test-unit/test-data/test-db-backup/
/test-unit/test-data/test-db-2-backup/
/test-unit/test-data/test-db-3-backup/

# other
.DS_Store
